/* COMMENTS */

:root {
    --primary: rgb(64, 74, 252);
    --business: #ff2c2c;
    --personal: var(--primary);
    --gold: rgb(255, 215, 0);
    --green: rgb(36, 233, 25);
    --dark: #000000;
    --danger: #ff5b57;
    --purple: rgb(143, 99, 171);

    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    --business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
    --personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

/* input elements */

.inputBox{
    position: relative;
    width: 100%;
}
.inputBox input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
}
.inputBox span {
    position: absolute;
    left: 30px;
    top: 8px;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: #484848;
    text-transform: uppercase;
    transition: 0.5s;
}
.inputBox input:valid ~ span {
    color: #00dfc4;
    transform: translateX(10px) translateY(-13px);
    font-size: 0.65em;
    padding: 0 10px;
    background: var(--dark);
    border: 1px solid #00dfc4;
    border-radius: 1em;
    letter-spacing: 0.2em;
}
.inputBox input:focus ~ span 
{
    color: #00dfc4;
    transform: translateX(10px) translateY(-13px);
    font-size: 0.65em;
    padding: 0 10px;
    background: var(--dark); 
    border: 1px solid #00dfc4;
    border-radius: 1em;
    letter-spacing: 0.2em;
}
.inputBox input:valid,
.inputBox input:focus {
    border: 1px solid #00dfc4;
}
/* classes */

/* ids */

input:not([type='radio']):not([type='checkbox']), button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}
input {
    transition: 0.2s ease-in-out;
}
input:hover{
    opacity: 0.75;
}
input #file-upload-button {
    border-radius: 2rem;
}
#visionMarqueeText {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: black;
    background-image: linear-gradient(white,rgb(0, 217, 255));
    border-radius: 2rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
    border: .1rem solid gold;
}
#timeBlock11, #timeBlock0 {
    background-image: linear-gradient(blue, red, yellow);
}

#timeBlock1, #timeBlock2, #timeBlock3, #timeBlock4, #timeBlock5, #timeBlock6, #timeBlock7, #timeBlock8, #timeBlock9, #timeBlock10 {
    background-image: linear-gradient(white, blue);
}

.greeting .title input {
    margin-left: 0.5rem;
    flex: 1 1 0%;
    min-width: 0;
}
.greeting .title,
.greeting .title input {
    color: var(--gold);
    font-size: 1.5rem;
    font-weight: 700;
}

/* image elements */
/* classes */

/* ids */

img {
    width: 20%;
    height: auto;
    border-radius: 8rem;
}

/* button elements */
/* classes */

/* ids */

#submitIMG {
    background-color: white;
    padding: .25rem;
}


/* basic webPage structure elements */
/* classes */

/* ids */

body {
    background: var(--dark);
    color: var(--gold);
}

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

h3 {
    color: var(--gold);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

h4 {
    color: var(--green);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

/* section specific elements */
/* classes */

/* ids */

label {
    display: block;
    border: .1rem solid gold;
    border-radius: 1rem;
    margin: 0.4rem 0;
}

.marquee {
    background-color: white;
    height: 40px;
    width: 100%;
    color: black;
    margin-top: 300px;
}

.greeting .title {
    display: flex;
    margin-top: 1rem;
}

.title {
    padding: 1rem;
    border: 0.125rem solid var(--gold);
    border-radius: 2rem;
}

#ortus {
    padding: 1rem;
    border: 0.125rem solid var(--gold);
    border-radius: 2rem;
    background-image: linear-gradient(blue, red, yellow);
}

#new-todo-form {
    padding: 1rem;
    border: 0.125rem solid var(--gold);
    border-radius: 2rem;
}

.create-todo input[type="text"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: #fff;
    background: linear-gradient(var(--dark),var(--purple)
    );
    border-radius: 2rem;
    border: 1px solid #00dfc4; 
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
}

.create-todo input[type="text"]::placeholder{
    color: #484848;
}

.create-todo input[type="date"]::placeholder{
    color: var(--dark);
}

.create-todo input[type="date"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: #fff;
    background-color: var(--purple);
    border-radius: 2rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
}

.create-todo .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
}

.create-todo .options label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: var(--purple);
    border-radius: 2rem;
    box-shadow: var(--shadow);
    cursor: pointer;
    color: #fff;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

/* .bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--business);
    box-shadow: var(--business-glow);
} */

/* .bubble.personal {
    border-color: var(--personal);
    box-shadow: var(--personal-glow);
}

.bubble::after {
    content: "";
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: var(--business);
    box-shadow: var(--business-glow);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.bubble.personal::after {
    background-color: var(--personal);
    box-shadow: var(--personal-glow);
}

input:checked ~ .bubble::after {
    width: 10px;
    height: 10px;
    opacity: 1;
} */

.create-todo .options label div {
    color: var (--dark);
    font-size: 1.125rem;
    margin-top: 1rem;
}

.create-todo input[type="submit"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 2rem;
    box-shadow: var(--personal-glow);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.create-todo input[type="submit"]:hover {
    opacity: 0.75;
}
.options-label {
    transition: 0.2s ease-in-out;
}
.options-label:hover {
    opacity: 0.75;
}

.todo-list .list {
    margin: 1rem 0;
    padding: 1rem;
    border: 0.125rem solid var(--gold);
    border-radius: 2rem;
}

.todo-list .todo-item {
    display: flex;
    align-items: center;
    background-color: var(--purple);
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
}

.todo-item label {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-item .todo-content {
    flex: 1 1 0%;
    color: #fff;
}

.todo-item .todo-content input {
    width: 100%;
    color: #fff;
    font-size: 1.125rem;
}

.todo-item .actions {
    display: flex;
    align-items: center;
}

.todo-item .actions button {
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.todo-item .actions button:hover{
    opacity: 0.75;
}

.todo-item .actions .edit {
    margin-right: 0.5rem;
    background-color: var(--primary);
    color: #fff;
}

.todo-item .actions .delete {
    background-color: var(--danger);
}

.todo-item.done .todo-content input {
    text-decoration: line-through;
    color: var(--danger);
}

.filters {
    display: flex;
    gap: 2rem;
    color: white;
    padding: .5rem;
}

#plant-filter {
    color: white;
    background-color: var(--purple);
    padding: .5rem;
    border: 0.125rem solid var(--gold);
    border-radius: 2rem;
}
#plant-filter::placeholder{
    color: var(--dark);
}

#date-filter {
    color: white;
    background-color: var(--purple);
    padding: .5rem;
    border: 0.125rem solid var(--gold);
    border-radius: 2rem;
}
#date-filter::placeholder{
    color: var(--dark);
}

#location-filter {
    color: white;
    background-color: var(--purple);
    padding: .5rem;
    border: 0.125rem solid var(--gold);
    border-radius: 2rem;
}
#location-filter::placeholder{
    color: var(--dark);
}

#plant-items {
    background-color: white;
}


/*css for codeCell.imageGallery*/

#marquee {
    position: absolute;
    top: 0px;
    padding: 4px;
    width: 100%;

}

#marquee .container{
    overflow: hidden;
    width: 100%;

}

#marquee .pic-container {
    display: flex;
    animation: marquee 10s infinite linear;

}

#marquee .pic-container .pic {
    flex-basis: 20%;
    flex-shrink: 0;

}

#marquee img {
    width: 100%;
    object-fit: cover;
    border: 1px solid rgba(255, 255, 255, 0.968);
    border-radius: 1rem;

}

/* media queries */

@media (max-width: 1024px) {
    #marquee .pic-container .pic {
        flex-basis: 25%;
    }
}

@media (max-width: 768px) {
    #marquee .pic-container .pic {
        flex-basis: 33.33%;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 1024px) {
    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-125%);
        }
    }
}

@media (max-width: 768px) {
    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-186.65%);
        }
    }
}







 




   
